<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Ionic Life Cycle</h1>
  <p>please check console</p>
  <h1>Skeleton Texts</h1>
  <ion-item>
    <ion-skeleton-text width="40px"></ion-skeleton-text>
  </ion-item>
  <h1>Implement Filter</h1>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item.title }}
    </ion-item>
  </ion-list>
  <h1>Make Animation</h1>
  <ion-button (click)="playFunc()">Play Animation</ion-button>
  <ion-button (click)="stopFunc()">Stop Animation</ion-button>
  <div class="square"></div>
</ion-content>
